.one{
    display: block;
    margin: 30px;
    gap: 30px;
    
}
.two{
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;

}
.three{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 10px;

}
.four{
    display: flex;
    margin: 30px;
    gap: 30px;

}
.five{
    border: 1px solid rgb(228, 223, 226);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;

}
.six{
    border: 1px solid rgb(230, 220, 226);
    margin-bottom: 20px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.seven{
    display: flex;
    margin: 30px;
    gap: 30px;


}
.eight{
    border: 1px solid rgb(224, 222, 224);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: wheat;
    box-shadow: 20px;

}
.nine{
    border: 1px solid rgb(224, 222, 224);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: wheat;
    box-shadow: 20px;
    
   
}
.ten{
    display: block;
    margin: 50px;
    padding: 10px;
    bottom: 2px solid green;
}
.elevin{
    border: 1px solid rgb(224, 222, 224);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: wheat;
    box-shadow: 20px;

}
.twelv{
    border: 1px solid rgb(224, 222, 224);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: wheat;
    box-shadow: 20px;

    
}
.sun{
    display: flex;
    margin: 50px;
    border: 2px solid bisque;
    background-color: wheat;
    
}
.black{
    display: block;
    margin: 30px;
}
.section-1{
    background-color: whitesmoke;
    border: 2px solid rgb(235, 230, 225);
    padding: 10px;margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 20px;
}
.section-2{
    background-color: whitesmoke;
    border: 2px solid rgb(235, 230, 225);
    padding: 10px;margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 20px;

}
.section-3{
    background-color: whitesmoke;
    border: 2px solid rgb(235, 230, 225);
    padding: 10px;margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 20px;
}
.therty{
    
    margin-right: 20px;
    margin-top: 30px;
    padding: 20px;
}
.section-4{
    margin: 50px;
    border: 2px solid bisque;
    padding: 10px;
    margin-left: 20px;
}